<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Helper</title>
</head>
<body>
        <h1 align="center">Письмо поддержке</h1>
        <h3 align="center">Укажите свою почту</h3>
        <p align="center"><input type="text" class="text" name="" />

    <style>
    input.text {
        width:  1000px;
        height: 300px;
        padding: 10px 10px 10px 20px;
        border:1px solid #999;
        font-size:70px;
        font-family: Tahoma;
    }
    </style></p>
    <p align="center"><a href="/loging/helper/wait"><button>Отправить</button></a></p>

</body>
</html>