<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <h1> <p align="center"> Randomizer </p> </h1>
    <p align="center"> Что вы хотите зарандомить? </p>
    <form action="main/" method="post">
        {%csrf_token %}
        <p align="center"><label>Ввод:</label>
                <input type="text"  name="something"  required></p>
        <p align="center"><button type="submit">Добавить</button></p>
    </form>
    <p align="center"><a href="/loging/main/randoms"><button>Зарандомить</button></a> </p>
</body>
</html>